{
	"root": true,
  	"parser": "@typescript-eslint/parser",
  	"plugins": [
		  "@typescript-eslint"
  	],
  	"extends": [
		  "eslint:recommended",
  		"plugin:@typescript-eslint/eslint-recommended",
  		"plugin:@typescript-eslint/recommended"
  	],
  	"rules": {
      "@typescript-eslint/interface-name-prefix": 0,
      "@typescript-eslint/no-explicit-any": "off",
      "semi": ["error", "always"],
      "quotes": ["error", "double"],
      "comma-dangle": ["error", "always-multiline"],
      "eol-last": ["error", "always"]
  	}
}
